.App {
    display: grid;
    height: 100vh;
    place-content: center;
}

.game-board {
    position: relative;
    border: 1px solid black;
}

.tile {
    position: absolute;
    border: 1px solid black;
}

.player {
    position: absolute;
}